### nbdc data

In [94]:
import requests
import pandas as pd
import numpy as np

### get all relevant buoys

In [95]:
text_data = requests.get('https://www.ndbc.noaa.gov/data/stations/station_table.txt').text
rows = text_data.strip().split('\n')

# extracting headers
headers = map(lambda x: x.strip(), rows[0].strip().split('|'))

# remaining data. (skipping with only `#`)
data = [row.strip().split('|') for row in rows[2:]]

df_buoys = pd.DataFrame(data, columns = headers)

In [111]:
df_buoys[1:10]

,# STATION_ID,OWNER,TTYPE,HULL,NAME,PAYLOAD,LOCATION,TIMEZONE,FORECAST,NOTE
1,13001,PR,Atlas Buoy,PM-595,NE Extension,,"12.000 N 23.000 W (12&#176;0'0"" N 23&#176;0'0"" W)",,,
2,13002,PR,Atlas Buoy,,NE Extension,,"21.000 N 23.000 W (21&#176;0'0"" N 23&#176;0'0"" W)",,,
3,13008,PR,Atlas Buoy,PM-531,Reggae,,"15.000 N 38.000 W (15&#176;0'0"" N 38&#176;0'0"" W)",,,
4,13009,PR,Atlas Buoy,PM-533,Lambada,,"8.000 N 38.000 W (8&#176;0'0"" N 38&#176;0'0"" W)",,,
5,13010,PR,Atlas Buoy,PM-590,Soul,,"0.000 N 0.000 E (0&#176;0'0"" N 0&#176;0'0"" W)",,,
6,14040,RM,Atlas Buoy,,,,"8.000 S 67.000 E (8&#176;0'0"" S 67&#176;0'0"" E)",,,
7,14041,RM,Atlas Buoy,,,,"8.000 S 55.000 E (8&#176;0'0"" S 55&#176;0'0"" E)",,,
8,14043,RM,Atlas Buoy,,,,"12.000 S 67.000 E (12&#176;0'0"" S 67&#176;0'0"" E)",,,
9,14047,RM,Atlas Buoy,,,,"4.000 S 57.000 E (4&#176;0'0"" S 57&#176;0'0"" E)",,,

### Get buoy data

In [144]:
def getBuoyData(buoyid): 
    # Split the text into rows using newline characters
    # trying to get new data
    rows = requests.get(f'https://www.ndbc.noaa.gov/data/realtime2/{buoyid}.spec')
    rows.raise_for_status()
    
    # handling data if request is successful
    rows = rows.text.strip().split('\n')
    headers = rows[0].strip().split()
    data = [row.split() for row in rows[1:]]

    df_buoy_data = pd.DataFrame(data, columns=headers)
    return df_buoy_data

In [209]:
getBuoyData(46001)

,#YY,MM,DD,hh,mm,WVHT,SwH,SwP,WWH,WWP,SwD,WWD,STEEPNESS,APD,MWD
0,#yr,mo,dy,hr,mn,m,m,sec,m,sec,-,degT,-,sec,degT
1,2023,09,05,20,10,1.6,1.5,8.3,0.3,3.7,WSW,NW,AVERAGE,6.9,247
2,2023,09,05,19,40,1.6,1.6,16.0,0.3,3.8,SSE,WNW,SWELL,7.0,164
3,2023,09,05,19,10,1.6,1.6,16.0,0.3,3.3,SSE,NW,SWELL,7.3,155
4,2023,09,05,18,40,1.5,1.5,9.1,0.3,3.7,WSW,NW,AVERAGE,7.2,254
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,2023,07,22,02,10,0.6,0.5,12.1,0.4,3.3,SSE,NNW,N/A,4.3,167
2196,2023,07,22,01,40,0.6,0.4,11.4,0.5,3.6,SSE,NNW,N/A,4.1,165
2197,2023,07,22,01,10,0.6,0.4,10.8,0.5,3.6,SSE,NNW,N/A,4.1,164
2198,2023,07,22,00,40,0.6,0.4,11.4,0.5,3.6,SE,NNW,N/A,4.3,144
2199,2023,07,22,00,10,0.6,0.4,11.4,0.4,3.6,SSE,NNW,N/A,4.2,152

### Calculate that buoy's angle to Los Angeles

Swell direction is measured with north at 0 degrees, east at 90, etc.

In [4]:
import math
import re

In [21]:
LA_lat = 33.8847
LA_long = -118.4109

def calculate_angle(coords):
    buoylat, buoylong = parse_coordinates(coords) if isinstance(coords, str) else coords
    LA_lat = 33.8847
    LA_long = -118.4109
    x = buoylong - LA_long
    y = buoylat - LA_lat
    
    if x >= 0:
        return 90 - math.atan(y / x) * 180 / math.pi 
    elif x < 0: 
        return 270 - math.atan(y / x) * 180 / math.pi
    
    #return math.atan(y / x) * 180 / math.pi
    
    
def parse_coordinates(input_string):
    pattern = r'(\d+\.\d+)\s*([NS])\s*(\d+\.\d+)\s*([EW])'
    match = re.search(pattern, input_string)
    if match:
        latitude = float(match.group(1))
        if match.group(2) == 'S':
            latitude = -latitude
        
        longitude = float(match.group(3))
        if match.group(4) == 'W':
            longitude = -longitude
        
        return latitude, longitude
    else:
        return None

In [22]:
df_buoys['angletoLA'] = df_buoys.apply(lambda row: calculate_angle(row.LOCATION), axis = 1)

### Get all valid buoys -- request all the data for those buoys!!

Buoys in between angle 160 and less than 360. longitude less than 0.

In [206]:
def isValidBuoy(deg, long): 
    if deg >= 160 and deg <= 360 and long < 0: 
        return True
    return False


def builddata(df_buoys):
    df_main = pd.DataFrame(columns = df_buoy_data.columns.tolist())
    #for i in range(len(df_buoys)): 
    for i in range(len(df_buoys)):
        lat, long = parse_coordinates(df_buoys.LOCATION.iloc[i])
        angle = calculate_angle((lat, long))
        buoy_id = str(df_buoys.iloc[i, 0])
        if isValidBuoy(angle, long): 
            try: 
                df_main = pd.concat([df_main, getBuoyData(buoy_id)])
                # df_main.append(getBuoyData(buoy_id))
                print(f"got valid data for {buoy_id}")
            except: 
                print("none")
                # print(f"couldn't get data for buoy {buoy_id}")


    return df_main

In [208]:
df_main

,#YY,MM,DD,hh,mm,WVHT,SwH,SwP,WWH,WWP,SwD,WWD,STEEPNESS,APD,MWD
0,#yr,mo,dy,hr,mn,m,m,sec,m,sec,-,degT,-,sec,degT
1,2023,09,05,20,10,1.6,1.5,8.3,0.3,3.7,WSW,NW,AVERAGE,6.9,247
2,2023,09,05,19,40,1.6,1.6,16.0,0.3,3.8,SSE,WNW,SWELL,7.0,164
3,2023,09,05,19,10,1.6,1.6,16.0,0.3,3.3,SSE,NW,SWELL,7.3,155
4,2023,09,05,18,40,1.5,1.5,9.1,0.3,3.7,WSW,NW,AVERAGE,7.2,254
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2196,2023,07,22,02,28,0.8,0.4,13.3,0.7,8.3,S,SSE,N/A,5.2,183
2197,2023,07,22,01,58,0.8,0.4,13.3,0.6,6.7,S,SSE,N/A,5.2,183
2198,2023,07,22,01,28,0.7,0.4,12.5,0.6,6.7,S,S,N/A,5.6,169
2199,2023,07,22,00,58,0.8,0.4,13.3,0.7,5.9,S,S,AVERAGE,5.3,186
2200,2023,07,22,00,28,0.8,0.4,12.5,0.7,4.8,SSW,SSE,AVERAGE,5.1,197

In [207]:
df_main = builddata(df_buoys)

none
none
none
none
none
got valid data for 46001
got valid data for 46002
none
none
got valid data for 46005
none
none
none
none
none
got valid data for 46011
none
got valid data for 46013
got valid data for 46014
none
none
none
none
none
none
none
none
none
none
got valid data for 46025
got valid data for 46026
got valid data for 46027
got valid data for 46028
got valid data for 46029
none
none
none
none
none
none
none
none
none
none
none
got valid data for 46041
got valid data for 46042
none
none
none
got valid data for 46047
got valid data for 46050
none
got valid data for 46053
got valid data for 46054
got valid data for 46059
got valid data for 46060
got valid data for 46061
none
none
got valid data for 46066
got valid data for 46069
got valid data for 46072
got valid data for 46073
got valid data for 46075
got valid data for 46076
got valid data for 46077
got valid data for 46078
none
got valid data for 46080
got valid data for 46081
got valid data for 46082
got valid data for 46083
got valid data for 46084
none
got valid data for 46086
got valid data for 46087
got valid data for 46088
got valid data for 46089
none
none
none
none
none
none
got valid data for 46097
got valid data for 46098
got valid data for 46099
got valid data for 46100
none
none
none
got valid data for 46108
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
got valid data for 46211
none
got valid data for 46213
got valid data for 46214
got valid data for 46215
none
none
got valid data for 46218
got valid data for 46219
none
got valid data for 46221
got valid data for 46222
none
none
none
none
got valid data for 46237
none
got valid data for 46239
got valid data for 46240
got valid data for 46243
got valid data for 46244
none
none
none
got valid data for 46248
none
none
got valid data for 46251
none
none
none
got valid data for 46259
none
none
none
none
none
none
got valid data for 46267
got valid data for 46268
got valid data for 46269
got valid data for 46276
got valid data for 46278
got valid data for 46279
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
got valid data for 51000
got valid data for 51001
got valid data for 51002
got valid data for 51003
got valid data for 51004
none
none
none
none
none
none
none
got valid data for 51101
none
none
got valid data for 51201
got valid data for 51202
none
none
none
none
got valid data for 51207
got valid data for 51208
got valid data for 51209
got valid data for 51210
got valid data for 51211
got valid data for 51212
got valid data for 51213
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none
none

In [193]:
df_main

Empty DataFrame
Columns: [#YY, MM, DD, hh, mm, WVHT, SwH, SwP, WWH, WWP, SwD, WWD, STEEPNESS, APD, MWD]
Index: []

In [195]:
df_buoys

,# STATION_ID,OWNER,TTYPE,HULL,NAME,PAYLOAD,LOCATION,TIMEZONE,FORECAST,NOTE
0,0y2w3,CG,Weather Station,,"Sturgeon Bay CG Station, WI",,"44.794 N 87.313 W (44&#176;47'39"" N 87&#176;18...",C,,
1,13001,PR,Atlas Buoy,PM-595,NE Extension,,"12.000 N 23.000 W (12&#176;0'0"" N 23&#176;0'0"" W)",,,
2,13002,PR,Atlas Buoy,,NE Extension,,"21.000 N 23.000 W (21&#176;0'0"" N 23&#176;0'0"" W)",,,
3,13008,PR,Atlas Buoy,PM-531,Reggae,,"15.000 N 38.000 W (15&#176;0'0"" N 38&#176;0'0"" W)",,,
4,13009,PR,Atlas Buoy,PM-533,Lambada,,"8.000 N 38.000 W (8&#176;0'0"" N 38&#176;0'0"" W)",,,
...,...,...,...,...,...,...,...,...,...,...
1824,ygnn6,EA,GLOS Weather Station,,"Niagara Coast Guard Station, NY",,"43.262 N 79.064 W (43&#176;15'42"" N 79&#176;3'...",E,,"For Great Lakes marine forecasts, select: <a h..."
1825,ykrv2,PT,Water Level Observation Network,,"8637611 - York River East Rear Range Light, VA",,"37.251 N 76.342 W (37&#176;15'5"" N 76&#176;20'...",E,FZUS51.KAKQ,
1826,yktv2,O,Water Level Observation Network,,"8637689 - Yorktown USCG Training Center, VA",,"37.227 N 76.479 W (37&#176;13'36"" N 76&#176;28...",E,FZUS51.KAKQ,
1827,yrsv2,NR,NERRS Weather Station,,"Taskinas Creek, Chesapeake Bay Reserve, VA",,"37.414 N 76.712 W (37&#176;24'51"" N 76&#176;42...",E,,Water Quality data for this Reserve are availa...
1828,zbqn7,NR,NERRS Water Quality Station,,"Zeke's Basin, North Carolina",,"33.955 N 77.935 W (33&#176;57'17"" N 77&#176;56...",E,,Right whales are active off NC from November t...

In [182]:
df_buoys.dtypes

# STATION_ID    object
OWNER           object
TTYPE           object
HULL            object
NAME            object
PAYLOAD         object
LOCATION        object
TIMEZONE        object
FORECAST        object
NOTE            object
dtype: object

In [180]:
typeof(df_buoys)

NameError: name 'typeof' is not defined