### nbdc data

In [4]:
import requests
import pandas as pd
import numpy as np
import functions

ModuleNotFoundError: No module named 'functions'

### get all relevant buoys

In [2]:
text_data = requests.get('https://www.ndbc.noaa.gov/data/stations/station_table.txt').text
rows = text_data.strip().split('\n')

# extracting headers
headers = map(lambda x: x.strip(), rows[0].strip().split('|'))

# remaining data. (skipping with only `#`)
data = [row.strip().split('|') for row in rows[2:]]

df_buoys = pd.DataFrame(data, columns = headers)

### Get buoy data

In [3]:
df_buoy_data = functions.getBuoyData(46001)

### Get all relevant buoys. Angle to LA will use to validate later

Swell direction is measured with north at 0 degrees, east at 90, etc.

In [4]:
df_buoys = functions.getRelevantBuoys()

### Get all valid buoys -- request all the data for those buoys!!

Buoys in between angle 160 and less than 360. longitude less than 0.

In [5]:
functions.getBuoyData(41001)

,#YY,MM,DD,hh,mm,WVHT,SwH,SwP,WWH,WWP,SwD,WWD,STEEPNESS,APD,MWD
0,2023,09,08,01,40,0.9,0.9,9.1,0.3,4.8,NE,SW,SWELL,6.4,38
1,2023,09,08,01,10,0.9,0.9,10.0,0.3,4.8,NE,SW,SWELL,6.3,48
2,2023,09,08,00,40,1.1,1.1,10.0,0.3,4.5,NE,WSW,SWELL,6.9,39
3,2023,09,08,00,10,1.1,1.1,10.0,0.3,4.2,NE,SW,SWELL,7.3,43
4,2023,09,07,23,40,1.0,1.0,10.0,0.3,4.5,NE,SW,SWELL,7.5,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2149,2023,07,25,02,10,1.0,0.5,6.7,0.9,4.5,SW,SSW,VERY_STEEP,4.5,207
2150,2023,07,25,01,40,1.0,0.6,10.8,0.8,4.3,ESE,SSW,VERY_STEEP,4.5,210
2151,2023,07,25,01,10,1.0,0.5,10.0,0.9,4.8,SE,SW,VERY_STEEP,4.6,214
2152,2023,07,25,00,40,1.0,0.4,9.1,0.8,4.3,E,SSW,VERY_STEEP,4.5,213
2153,2023,07,25,00,10,1.0,0.6,9.1,0.8,6.2,E,SW,AVERAGE,4.8,93

In [6]:
df_main = functions.builddata(df_buoys)

0.0% complete
0.09950792782941498% complete
0.19901585565882995% complete
0.29852378348824493% complete
0.3980317113176599% complete
0.4975396391470749% complete
0.5970475669764899% complete
0.6965554948059048% complete
0.7960634226353198% complete
0.8955713504647348% complete
0.9950792782941498% complete

In [7]:
df_main

,Year,Month,Day,hh,minutes,WVHT,SwH,SwP,WWH,WWP,SwD,WWD,STEEPNESS,APD,MWD
0,2023,09,08,01,40,1.6,1.6,17.4,0.5,3.6,SSE,W,SWELL,5.9,168
1,2023,09,08,01,10,1.7,1.5,17.4,0.8,5.0,SSE,W,SWELL,5.9,158
2,2023,09,08,00,40,1.7,1.6,17.4,0.6,4.2,SSE,W,SWELL,6.0,166
3,2023,09,08,00,10,1.6,1.5,17.4,0.7,4.2,SSE,W,SWELL,5.8,156
4,2023,09,07,23,40,1.8,1.7,17.4,0.5,3.8,SSE,WSW,SWELL,6.3,158
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2158,2023,07,25,02,28,0.9,0.5,14.3,0.8,9.9,S,S,AVERAGE,5.9,172
2159,2023,07,25,01,58,1.0,0.6,14.3,0.8,9.9,S,SSE,AVERAGE,6.0,182
2160,2023,07,25,01,28,1.0,0.6,14.3,0.8,9.9,S,SSE,AVERAGE,6.0,174
2161,2023,07,25,00,58,0.9,0.5,14.3,0.7,5.3,SSE,SE,AVERAGE,6.1,168
2162,2023,07,25,00,28,0.9,0.5,13.3,0.7,9.9,S,S,AVERAGE,6.5,174

### Inserting into SQLite databse

In [26]:
df_main

,YY,MM,DD,hh,minutes,WVHT,SwH,SwP,WWH,WWP,SwD,WWD,STEEPNESS,APD,MWD,#YY,minutes
0,NaN,mo,dy,hr,NaN,m,m,sec,m,sec,-,degT,-,sec,degT,#yr,mn
1,NaN,09,08,00,NaN,1.7,1.6,17.4,0.6,4.2,SSE,W,SWELL,6.0,166,2023,40
2,NaN,09,08,00,NaN,1.6,1.5,17.4,0.7,4.2,SSE,W,SWELL,5.8,156,2023,10
3,NaN,09,07,23,NaN,1.8,1.7,17.4,0.5,3.8,SSE,WSW,SWELL,6.3,158,2023,40
4,NaN,09,07,23,NaN,1.6,1.3,17.4,0.9,4.8,S,WSW,SWELL,5.9,187,2023,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2158,NaN,07,25,02,NaN,0.9,0.5,14.3,0.8,9.9,S,S,AVERAGE,5.9,172,2023,28
2159,NaN,07,25,01,NaN,1.0,0.6,14.3,0.8,9.9,S,SSE,AVERAGE,6.0,182,2023,58
2160,NaN,07,25,01,NaN,1.0,0.6,14.3,0.8,9.9,S,SSE,AVERAGE,6.0,174,2023,28
2161,NaN,07,25,00,NaN,0.9,0.5,14.3,0.7,5.3,SSE,SE,AVERAGE,6.1,168,2023,58
2162,NaN,07,25,00,NaN,0.9,0.5,13.3,0.7,9.9,S,S,AVERAGE,6.5,174,2023,28

In [219]:
import sqlite3
conn = sqlite3.connect('db.db')
df_main.to_sql('main', conn, if_exists='replace', index=False)

159835

### Getting Surfline Classifications

In [231]:
from bs4 import BeautifulSoup

In [ ]:
import update

### Modeling surf in Los Angeles

- need to update database every night with the latest information... can delete the data from ~5 days ago. 
- regression from previous days. 
- classify how well old buoys predicted closer buoys