In [1]:
import torch
import pandas as pd
import sqlite3
import numpy as np
import functions

import torch.nn as nn
import torch.optim as optim
from torch.utils.data import DataLoader, TensorDataset
from matplotlib import pyplot as plt
from datetime import datetime

In [7]:
conn = sqlite3.connect('db.db')
data = pd.read_sql_query("SELECT * from test", conn)
data = functions.cleanData(data)

# target = functions.buildnparray(data[data["buoy_id"] == "46221"])
# data = functions.buildnparray(data[data["buoy_id"] != "46221"])

# data = functions.buildnparray(functions.cleanData(data))
#data = data[1:]

In [8]:
data = pd.DataFrame(data)
data

                  datetime buoy_id  WVHT    MWD   APD
0      2024-02-15 01:00:00   46001   5.6  148.0   8.6
1      2024-02-15 01:00:00   46001   5.3  149.0   8.3
2      2024-02-15 00:00:00   46001   4.9  149.0   8.2
3      2024-02-15 00:00:00   46001   4.9  151.0   8.2
4      2024-02-14 23:00:00   46001   5.0  153.0   8.4
...                    ...     ...   ...    ...   ...
136603 2024-01-01 02:00:00   51212   1.4  314.0   8.0
136604 2024-01-01 01:00:00   51212   1.5  316.0   9.1
136605 2024-01-01 01:00:00   51212   1.5  312.0   9.8
136606 2024-01-01 00:00:00   51212   1.4  315.0   9.8
136607 2024-01-01 00:00:00   51212   1.4  314.0  10.3

[134199 rows x 5 columns]